<div id="main-container">
        <div id="center-container">
            <div id="first-row">
                <h1 id="title" class="text-secondary">
                    Search Availability
                </h1>
            </div>
            <div id="second-row" class="container-fluid">
                <form class="row" (ngSubmit)="search()"  name="searchForm" [formGroup]="searchForm">
                    <!-- <input formControlName="destination"  id="tf-search" type="text" class="form-control col-3 ml-5 float-left" placeholder="destination"> -->
                    <sun-travel-input-text
                        class="col-3 ml-1"
                        placeholder="destination"
                        [control] = "searchForm.get('destination')"
                        type="text"
                        errorMessage="Invalid destination"
                        >
                    </sun-travel-input-text>
                    <sun-travel-input-text
                        class="col-2"
                        placeholder="check-in"
                        [control] = "searchForm.get('checkInDate')"
                        type="date"
                        errorMessage="Invalid date"
                        >
                    </sun-travel-input-text>
                    <sun-travel-input-text
                        class="col-2"
                        placeholder="check-out"
                        [control] = "searchForm.get('checkOutDate')"
                        type="date"
                        errorMessage="Invalid date"
                        >
                    </sun-travel-input-text>
                    <sun-travel-input-text
                        class="col-1"
                        placeholder="Adults"
                        [control] = "searchForm.get('numberOfAdults')"
                        type="number"
                        errorMessage="Invalid count"
                        >
                    </sun-travel-input-text>
                    <sun-travel-input-text
                        class="col-1"
                        placeholder="Rooms"
                        [control] = "searchForm.get('numberOfRooms')"
                        type="number"
                        errorMessage="Invalid count"
                        >
                    </sun-travel-input-text>
                    <button id="search-button" class="btn btn-light col-2 ml-2" >
                        Search
                    </button>
                </form>
            </div>
        </div>
</div>