<div id="main-container">
        <div id="center-container">
            <div id="first-row">
                <h1 id="title" class="text-secondary">
                    Search Availability
                </h1>
            </div>
            <div id="second-row">
                <form (ngSubmit)="search()"  name="searchForm" [formGroup]="searchForm">
                    <input formControlName="destination"  id="tf-search" type="text" class="form-control col-3 ml-5 float-left" placeholder="destination">
                    <input formControlName="checkInDate"  type="date" name="checkInDate" id="df-check-in-date" class="col-2 form-control float-left">
                    <input formControlName="checkOutDate"  type="date" name="checkOutDate" id="df-check-out-date" class="col-2 form-control float-left">
                    <input formControlName="numberOfAdults"  type="number" name="adultsCount" id="nf-adults-count" class="form-control col-1 float-left" placeholder="Adults">
                    <input formControlName="numberOfRooms"  type="number" name="roomsCount" id="nf-rooms-count" class="form-control col-1 float-left" placeholder="Rooms">
                    <button id="search-button" class="btn btn-light col-2 ml-2" >
                        Search
                    </button>
                </form>
            </div>
        </div>
</div>