<mat-toolbar id="title-bar">
    <div id="title" class="noselect  text-bold text-secondary">Sun Travels Hotel Reservation System</div>
    <app-textfield [type]="'SEARCH'" (event)="onSearchTextUpdate($event)" id="tfCustomerSearch" [width]='200' [height]=2000 type="TEXT"></app-textfield>
    <button id="label-customer" class="noselect btn btn-secondary text-light p-1">
        {{activeCustomer.name}}
    </button>
    <div id="label-account" class="noselect" mat-icon-button [matMenuTriggerFor]="accountMenu">
        {{loggedInUser.firstName + " " + loggedInUser.lastName}}
    </div>
    <mat-icon>arrow_drop_down</mat-icon>
      <mat-menu #accountMenu="matMenu" xPosition="after">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </button>
        <button mat-menu-item (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>          
</mat-toolbar>