<mat-toolbar id="title-bar">
    <div id="title" class="noselect  text-bold text-secondary">Sun Travels Hotel Reservation System</div>
    <app-textfield [ngClass]="{'d-none' : UserType==1}" type="SEARCH" placeholder="Contact Number" (event)="onSearchTextUpdate($event)" id="tfCustomerSearch" type="TEXT"></app-textfield>
    <button [ngClass]="{'d-none' : UserType==1}" id="label-customer" class="noselect btn btn-secondary text-light p-1">
        {{activeCustomer?activeCustomer.name:"No Customer Selected"}}
    </button>
    <div id="spacer"  [ngClass]="{'d-none' : UserType==0}" class="col-1 ml-auto mr-0"></div>
    <div id="label-account" class="noselect" mat-icon-button [matMenuTriggerFor]="accountMenu">
        {{loggedInUser.firstName + " " + loggedInUser.lastName}}
    </div>
    <mat-icon>arrow_drop_down</mat-icon>
      <mat-menu #accountMenu="matMenu" xPosition="after">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </button>
        <button mat-menu-item (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>          
</mat-toolbar>