<mat-drawer-container class="side-nav-container">
  <mat-drawer id="side-nav" mode="side" opened>
    <mat-nav-list>
      <!-- EMPLOYEE HOME -->
      <a *ngIf="activeUserType===0" mat-list-item routerLink='/search/room' class="pl-2">
        <mat-icon class="mr-3"> search </mat-icon>
        Search
      </a>

      <!-- ADMIN HOME -->
      <a *ngIf="activeUserType===1" mat-list-item routerLink='/search/admin' class="pl-2">
        <mat-icon class="mr-3"> search </mat-icon>
        Search
      </a>

      <!-- RESERVATION -->
      <mat-expansion-panel
        *ngIf="activeUserType===0"
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-item">
            <mat-icon class="mr-3"> calendar_today </mat-icon>
            <span> Reservation </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/reservation/create" dense>
            <mat-icon class="mr-2"> add_box </mat-icon>
            Add new
          </a>
          <a mat-list-item routerLink="/reservation/view" dense>
            <mat-icon class="mr-2"> update </mat-icon>
            Update
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- ACTIVITY-LOG -->
      <a *ngIf="activeUserType===0" mat-list-item routerLink="/activity">
        <mat-icon class="mr-3"> timeline </mat-icon>
        <span> Activity Log </span>
      </a>

      <!-- EMPLOYEE-ACCOUNTS -->
      <mat-expansion-panel
        *ngIf="activeUserType===1"
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-item">
            <mat-icon class="mr-3"> account_box </mat-icon>
            <span> Employee </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/employee/create" dense>
            <mat-icon class="mr-2"> add_box </mat-icon>
            Add new
          </a>
          <a mat-list-item routerLink="/employee/view" dense>
            <mat-icon class="mr-2"> update </mat-icon>
            Update
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- HOTEL -->
      <mat-expansion-panel
        *ngIf="activeUserType===1"
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-item">
            <mat-icon class="mr-3"> hotel </mat-icon>
            Hotel
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/hotel/create" dense>
            <mat-icon class="mr-2"> add_box </mat-icon>
            Add new
          </a>
          <a mat-list-item routerLink="/hotel/view" dense
            ><mat-icon class="mr-2">update</mat-icon>Update</a
          >
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- CONTRACT -->
      <mat-expansion-panel
        *ngIf="activeUserType===1"
        class="mat-elevation-z0"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="nav-item">
            <mat-icon class="mr-3"> attach_money</mat-icon><span>Contract</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="/contract/create" dense
            ><mat-icon class="mr-2">add_box</mat-icon>Add new</a
          >
          <a mat-list-item routerLink="/contract/view" dense
            ><mat-icon class="mr-2">update</mat-icon>Update</a
          >
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- ACCOUNT -->
      <a mat-list-item routerLink="/account" class="pl-2"
        ><mat-icon class="mr-3">settings</mat-icon><span>Account</span></a
      >
    </mat-nav-list>
    <mat-nav-list id="logout-nav-item" (click)="signOut()">
      <!-- LOGOUT -->
      <a mat-list-item class="pl-2 mt-auto mb-0"
        ><mat-icon class="mr-3">exit_to_app</mat-icon><span>Logout</span></a
      >
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content id="main-content">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
