<div id="heading" class="text-secondary d-block">
    Reservation
</div>
<button class="btn btn-danger mt-3 ml-3 col-1" (click)="goBack()">
    Back
</button>
<div class="container-fluid mt-5">
    <form class="row" (ngSubmit)="placeReservations()"  name="reservation-form" [formGroup]="reservationForm">
        <div class="col-10" id="left-section">
            <!-- CUSTOMER SECTION -->
            <div class="sun-travel-form-section">
                <div class="row">
                    <sun-travel-input-text
                        class="col-4" 
                        placeholder="Leave empty for new user"
                        title="Customer Id"
                        type="number"
                        errorMessage="Invalid customerId!"
                        [control]="reservationForm.controls.customerId"
                        prependMatIcon="vpn_key"
                        [isDisabled]="true"
                    >
                    </sun-travel-input-text>
                    <div class="col-1"></div>
                    <sun-travel-input-text
                        class="col-6" 
                        placeholder="Enter customer name here"
                        title="Customer Name"
                        type="text"
                        errorMessage="Invalid name!"
                        [control]="reservationForm.controls.customerName"
                        prependMatIcon="person"
                    >
                    </sun-travel-input-text> 
                </div>
                <div class="row">
                    <sun-travel-input-text
                        class="col-4" 
                        placeholder="Enter customer email here"
                        title="Customer Email"
                        type="email"
                        errorMessage="Invalid Email!"
                        [control]="reservationForm.controls.customerEmail"
                        prependMatIcon="mail"
                    >
                    </sun-travel-input-text>
                    <div class="col-1"></div>
                    <sun-travel-input-text
                        class="col-4" 
                        placeholder="Enter customer tel-no here"
                        title="Customer Phone"
                        type="text"
                        errorMessage="Invalid phone number!"
                        [control]="reservationForm.controls.customerTelNumber"
                        prependMatIcon="phone"
                    >
                    </sun-travel-input-text> 
                </div>
            </div>
            <div id="form-array-container" class="sun-travel-form-section" formArrayName="reservations">
                <sun-travel-reservation-record 
                    *ngFor="let reservation of reservationForms.controls; let i=index" class="bg-dark text-light"
                    [formGroupName]="i" 
                    [reservation]="reservation"
                    [index]=i
                    (remove)="removeReservation($event)">
                </sun-travel-reservation-record>
            </div>
        </div>
        <div class="col-2 " id="right-section">
            <button class="btn col-9 primary-background text-light d-block mt-1">
                Finalize Reservation
            </button>
            <button type="button" class="btn col-9 secondary-background text-light d-block mt-2">
                Cancel Reservation
            </button>
        </div>
    </form>
</div>