<div id="heading" class="text-secondary">
    Reservation
</div>
<div class="container mt-5">
    <form class="row" (ngSubmit)="createReservation()"  name="reservationForm" [formGroup]="reservationForm">
        <div class="col-10 m-0 p-0" id="input-panel">
            <div formGroupName="reservation">
                <div class="input-pair row">
                    <div class=" col-3 input-label-container">
                        <span class="input-label">Subcontract Id</span>
                    </div>
                    <input formControlName="subContractId" class="form-control col-2 float-left" type="number" placeholder="Subcontract Id">
                    <!-- todo: check if valid subcontract by api call -->
                    <span class="text-danger form-warning" *ngIf="false">Invalid Id</span> 
                </div>
                <div class="input-pair row">
                    <div class=" col-3 input-label-container">
                        <span class="input-label">No of rooms</span>
                    </div>
                    <input formControlName="noOfRooms" [ngClass]="{'is-invalid': reservationForm.value.reservation.noOfRooms < 1}" class="form-control col-3 float-left" type="number" placeholder="Number of roonms">
                </div>
                <div class="input-pair row">
                    <div class=" col-3 input-label-container">
                        <span class="input-label">Check in date</span>
                    </div>
                    <input formControlName="checkInDate"  [ngClass]="{'is-invalid': validateCheckInDate(reservationForm.value.reservation.checkInDate)}" class="form-control col-3 float-left" type="date" placeholder="Check in date">
                    <div class=" col-3 input-label-container">
                        <span class="input-label">Check out date</span>
                    </div>
                    <input formControlName="checkOutDate"  [ngClass]="{'is-invalid': !validateCheckOutDate(reservationForm.value.reservation.checkOutDate)}" class="form-control col-3 float-left" type="date" placeholder="Check out date">
                </div>
                <div class="input-pair row">
                    <div class=" col-3 input-label-container">
                        <span class="input-label">Number of adults</span>
                    </div>
                    <input formControlName="noOfAdults" [ngClass]="{'is-invalid': reservationForm.value.reservation.noOfAdults < 1}" class="form-control col-3 float-left" type="number" placeholder="Number of adults">
                </div>
                <div class="input-pair row">
                    <div class=" col-3 input-label-container">
                        <span class="input-label">Marked up price</span>
                    </div>
                    <input formControlName="markedUpPrice" disabled class="form-control col-3 float-left" type="number" placeholder="Marked up price">
                </div>
            </div>

            <div class="input-pair row">
                <div class=" col-3 input-label-container">
                    <span class="input-label">Customer Name</span>
                </div>
                <input formControlName="customerName" class="form-control col-3 float-left" type="text" placeholder="Customer Name">
            </div>
            <div class="input-pair row">
                <div class=" col-3 input-label-container">
                    <span class="input-label">Customer tel no</span>
                </div>
                <input formControlName="customerTelNumber" class="form-control col-3 float-left" type="text" placeholder="Customer tel no">
            </div>
            <div class="input-pair row">
                <div class=" col-3 input-label-container">
                    <span class="input-label">Customer email</span>
                </div>
                <input formControlName="customerEmail" [ngClass]="{'is-invalid': !validateEmail(reservationForm.value.customerEmail)}" class="form-control col-3 float-left" type="email" placeholder="Customer email">
            </div>
        </div>
        <div class="col-2" id="button-panel">
            <button class="btn primary-background">Add reservation</button>
            <button type="button" (click)="cancel()" class="btn secondary-background">Cancel</button>
        </div>
    </form>
</div>