@import "/src/styles/theme.scss";

#heading{
    font-size: 35px;
    margin-top: 25px;
    margin-left: 15px;
    font-weight: 500   
}

#form-array-container{
    max-height: 550px;
    overflow: scroll;
}

#form-array-container::-webkit-scrollbar {
    display: none;
}